<H1>Por País</H1>
<hr>
<div class="row">
    <div class="col">
        <app-country-input placeholder="Buscar país..." (onEnter)="search($event)" (onDebounce)="seguerencias($event)">
        </app-country-input>
    </div>
</div>

<ul *ngIf="showSuje" class="list-group">
    <li *ngFor="let country of countrySugList" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/pais', country.alpha2Code ]">
            {{country.name}}
        </a>
    </li>
    <li class="list-group-item list-group-item-action" (click)="searchSug(termino)">
        <a class="nav-link">
            Buscar {{termino}}
        </a>
    </li>
</ul>

<hr>
<div *ngIf="doError" class="alert alert-danger">
    No se encontro nada con el termino
</div>

<div *ngIf="countriesList.length > 0" class="row">
    <div class="col">
        <app-country-table [countries]="countriesList"></app-country-table>
    </div>
</div>